  
  
  
  li{
    padding: 0;
    margin: 0;
    
  }






  .subAtn {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .subAtn::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .subAtn::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .subAtn:hover::after {
    filter: blur(30px);
  }
  
  .subAtn:hover::before {
    transform: rotate(-180deg);
  }
  
  .subAtn:active::before {
    scale: 0.7;
  }








  ul {
    margin: 0;
    padding: 0;
  }
  .list {
    margin-top: 40px;
	list-style: none;
 justify-content: center;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* height: 400px; */
}

.listItem {
  border-radius: 10px;
  padding: 0px 0px 0px 10px;
  width: 270px;
  outline: none;
  border: 3px solid transparent;
  background-image:  linear-gradient(315deg, rgb(222, 170, 238), rgb(109, 124, 255), rgb(154, 224, 194));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  animation: bg-hue 2s linear infinite;
  backdrop-filter: blur(20px);

	display: flex;
	align-items: center;
	gap: 10px;
	color: white;
}
.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 10px;
  border-radius: 5px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4c00ff;
  background-image: linear-gradient(160deg, #4900f5 0%, #80D0C7 100%);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  cursor: pointer;
}
body {
  transform: rotate();
  /* animation: 3s ease-in 1s infinite reverse both running aawdwdawd; */
	background-image: url('./giphy.gif');
    font-family: "Play", serif;
  font-weight: 800;
  font-style: normal;
  
}


.form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.deleteImg {
  width: 30px;
  background: none;
}
.deleteBtn{
position: absolute;
left: 235px;
  background: none;
  border: 0;
}
.input[type=text] {
  animation: gradient 5s ease infinite;
  transition: transform 0.3s ease;
background: linear-gradient(90deg, rgba(0,168,91,1) 0%, rgba(7,82,1,1) 51%, rgba(2,143,2,1) 100%);
    display: block;
    width: 500px;
    height: 40px;
    padding: 0 8px;
    border-radius: 10px;
    border: 3px solid black;
    font-family: "Play", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .input[type=text]:focus {
    transform: scale(1.05);
    outline: none;
    border: 3px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(315deg, rgb(236, 160, 255), rgb(170, 178, 255), rgb(132, 255, 201));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    animation: bg-hue 2s linear infinite;
  }
  /* .subAtn{
    font-family: "Play", serif;
    font-weight: 700;
    font-style: normal;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 0;
    background-size: 4000% 4000%;
    background: linear-gradient(90deg, rgba(0,168,91,1) 0%, rgba(7,82,1,1) 51%, rgba(2,143,2,1) 100%);

} */
  @keyframes bg-hue {
    100% {
      filter: hue-rotate(360deg);
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
